<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    {% extends "ProyectoWebApp/base.html"%}
    {% load static %}
    
    {% block content%}
        {% for servicio in servicios %}
            <h2 style="color:aliceblue">
                {{servicio.titulo}}
            </h2 >
            <p style="color:antiquewhite"> {{servicio.contenido}}</p>
            <p><img src="{{servicio.imagen.url}}" alt=""></p>
        {% endfor %}
    {%endblock%}
</body>
</html>